@charset "utf-8";
/* CSS Document */

/*===============================================
			TYPOGRAPHY
=================================================*/


.wrapper { width:100%; float:left; }
.content {  padding:30px 0; border-top:1px solid rgba(0,0,0,0.1); margin-top:50px; }
.content strong { font-weight:500; color:#444444; }
.content h2 { font-weight:300; font-size:45px; }
.content p { font-size:15px; }

.about-pic { text-align:center; }
.about-pic img { max-width:60%; border-radius: 1000px; -webkit-border-radius: 1000px;  }

.dribbble-color { color:#ec4a89; }
.insta-color { color:#613319; }
.twitter-color { color:#009fd3; }

/*===============================================
				FIXED HEADER
=================================================*/
.header { width:100%; height:70px; /*position:fixed;*/top:0;left:0; z-index:2000;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000;-moz-perspective:1000;-ms-perspective:1000;perspective:1000; padding:20px 0; -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out; }

.header-scroll { background:#FFFFFF; -webkit-box-shadow:0 0 4px rgba(6,8,8,0.15);box-shadow:0 0 4px rgba(6,8,8,0.15); padding:10px 0; }

.logo { padding-top:3px; /*margin-left:30px;*/ opacity: 0.7; }
.logo:hover { opacity: 0.9; }
.logo img { vertical-align:top; }

.btn {
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 1000px;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.btn-grey {
	background:none;
    border:1px solid rgba(0,0,0, 0.2);
    color: rgba(0,0,0, 0.5) !important;
}

.btn-grey:hover { border:1px solid rgba(0,0,0, 0.4); }

.contact-me {
    margin-left: 20px;
    width: 150px;
    margin-top:7px;
	font-weight:500;
}


/*===============================================
===				NAVIGATION 					  ===
=================================================*/

nav { margin-left:10px; font-size:13px; padding:8px 0 0 0; color: rgba(0, 0, 0, 0.5); }
nav a { padding:0 10px; text-transform:uppercase; font-weight:400; font-size:13px; color: rgba(0, 0, 0, 0.5); text-shadow:0 1px 2px rgba(255,255,255,.5);line-height:34px;transition:.2s color linear;display:inline-block}
nav a:first-child { padding-left:0; }
nav a:hover { color: rgba(0, 0, 0, 0.7); }
nav a.active { color: rgba(0, 0, 0, 0.7); font-weight:500; }

/*===============================================
===				CONTACT US 					  ===
=================================================*/
#contact_form { /*padding:20px;*/ }

::-webkit-input-placeholder { color:#7D7D7D }
:-moz-placeholder { color:#7D7D7D }
::-moz-placeholder { color:#7D7D7D }
:-ms-input-placeholder { color:#7D7D7D }

.text-field.half { width:49.5%; float:right; }
.text-field.half:nth-child(2n+2) { float:left; }

.text-field input { width:100%; height:60px; margin-bottom:10px; position:relative; border:none; border:1px solid rgba(90, 97, 102, 0.2); font-size:14px; padding:0 15px; font-weight:300; }
.text-field textarea { width:100%; position:relative; border:none; border:1px solid rgba(90, 97, 102, 0.2); font-size:14px; word-wrap: break-word; margin-bottom:8px; resize:none; padding:0 10px; line-height: 2em; font-weight:300; }
.text-field button { width:100%; height:60px; position:relative; background:#009fd3; border:3px solid #009fd3; font-size:16px; color:#FFFFFF; font-weight:500; }

.text-field select { width:100%; height:60px; margin-bottom:10px; position:relative; border:none; border:1px solid rgba(90, 97, 102, 0.2); font-size:14px; padding:0 15px; font-weight:300; }

.text-field select option[disabled] { color:#7D7D7D }

.contact-texts { font-size:13px; color:#7D7D7D; padding-top:6px; }

#result { font-size:16px; line-height:1.7em; }
#result .success { background:#8ec841; padding:10px; color:#FFFFFF; margin-bottom:10px; }

/*===============================================
===				FULL SCREEN BG 				  ===
=================================================*/

.full-screen { background:url(../images/background.jpg) #e4e8f0; background-size:100% 100%; background-attachment: fixed; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height:600px; background-position:center center !important;  }
.full-screen .overlay { min-height:700px; background:rgba(255,255,255, 0.9); padding-top:5px; /*75px*/ border-bottom:1px solid rgba(0,0,0, 0.1); }
.middle-container { display:table !important; height:600px; }
.middle-container .middle-handle { display:table-cell; vertical-align:middle; }

.full-screen h1 { font-weight:300; font-size:40px; }

/*===============================================
===				PORTFOLIO SCREEN     		  ===
=================================================*/


.portfolio-shots { padding:40px 20px; position:relative; border-top:1px solid rgba(0,0,0,0.1); }
.portfolio-shots h2 { font-size:45px; font-weight:300; }


#dribbble { width:1220px; margin:0 auto; }
#dribbble .box { position:relative; float:left; height:auto; list-style:none; margin-right:10px; margin-top:10px; overflow:hidden; }
#dribbble .box:nth-child(3n+3) { margin-right:0px; }

/*===============================================
===				ANIMATED HEADLINE 		      ===
=================================================*/
.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 3rem;
  }
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
}

.cd-intro {
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 5em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 6em auto;
  }
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}


.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}

/*===============================================
				  CONTACT BOX
=================================================*/

.contact-box { padding:10px 30px 30px 30px; border:1px solid rgba(0,0,0, 0.1); background:rgba(0,0,0, 0.05);  }
.contact-box h2 { font-size:45px; font-weight:300; padding:20px 0; }
.contact-box .map, .work-together { float:left; }

.work-together { width:480px; display:table; height:250px; text-align:center; margin-left:20px; }
.work-together a { background:#676b73; display:table-cell; vertical-align:middle;  font-weight:600; font-size:42px; text-transform:uppercase; line-height:1.5; letter-spacing:1px; padding:50px; color:#FFFFFF; -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out; }
.work-together a:hover { background:#4d5159; }

/*===============================================
				   FOOTER
=================================================*/
footer { padding:10px 30px 30px 30px; font-size:14px; margin:50px 10% 0 10%; text-align:center; color: rgba(0, 0, 0, 0.5);  border-top:1px solid rgba(0,0,0, 0.1);  }
footer .footer-inside { width:1140px; margin:0 auto; position:relative; }
footer .copyright { margin-top:5px; }
footer .logo { margin:10px 30px 0 0; float:left; }
.fa-heart { color:#F00;}

/*===============================================
				   KEY POINTS
=================================================*/
.key-points { text-align:center; padding-bottom:20px; }
.feat-images { display:table; width:100%; height:220px; text-align:center; }
.feat-images span { display:table-cell; vertical-align: middle; }

.key-points h3 { font-size:17px; }
.key-points p { font-size:14px; line-height:1.8; padding:0 20px; }