/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.5;
	background:#fafafa;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle; max-width:100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Typography styles
   ========================================================================== */
   
@font-face {font-family: 'nueu45Lt'; src: url('../fonts/2A76C9_3_0.woff') format('woff');}
@font-face {font-family: 'nueu55Rg'; src: url('../fonts/2A76C9_2_0.woff') format('woff');}
@font-face {font-family: 'nueu95Blk'; src: url('../fonts/2C38CB_0_0.woff') format('woff');}
@font-face {font-family: 'nueu75Bd'; src: url('../fonts/2B02C5_0_0.woff') format('woff');}
[class*='fa-'] { font-family: "FontAwesome"; font-style: normal; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==== Header Section ====*/

.wrapper{width:100%; float:left; position:relative;}
.center-div { margin:0 auto; display:table;}
.main { width:1200px; max-width:100%; margin:0 auto; }
.logo { margin:24px 0 0 30px; float:left;} 
nav { font-size:14px; color:#555; float:right; margin-top:44px;}
nav ul { margin:0; padding:0; list-style:none;}
nav li { float:left; padding:0 12px; letter-spacing:0.03em;}
nav a { color:inherit; text-decoration:none; }

header { text-align:center; }
header h1 { font-family:'nueu95Blk'; font-size:66px; color:#f00; margin:15px 0; }
header p {font-family:'nueu45Lt';  font-size:20px; color:#222; margin:0;}
header button { width:170px; height:50px; -webkit-border-radius:1000px; -moz-border-radius:1000px; border-radius:1000px; background-color:#f00; border:none; font-family: 'nueu55Rg'; font-size:16px; color:#fff; margin-top:15px; }
.sticky { position:fixed; z-index:999; }

/* ==== Portfolio Section ====*/
.port-container { position:relative; width:100%;}
.hero { background-repeat: no-repeat; background-position: center center; background-attachment: fixed; background-size: cover; }
.icdc { background-image:url(../img/icdc-hero.png); }
.famijoy { background-image:url(../img/famijoy-hero.png); }
.port-description { width:480px; padding-left:4.076134%; }
.port-description.right { padding-left:0 !important; padding-right:4.076134%; float:right; }
.project-title { font-family:nueu95Blk; font-size: 50px; color: #fff; letter-spacing:0.02em;  margin:0; }
.project-description { font-family:'nueu45Lt';font-size:16px; color:#fff; letter-spacing:0.04em; line-height: 1.9; }
.read-more-button { width: 150px; height:50px; -webkit-border-radius:1000px; -moz-border-radius:1000px; border-radius:1000px; background-color:rgba(0,0,0,0.2); font-family:'nueu45Lt'; font-size:16px; color:#fff; letter-spacing:0.06em; border:none; } 

#slide1, #slide2, #slide3, #slide4, #slide5, #slide6{ background-attachment: fixed; background-position: center center; background-size: cover; }
#slide1 { background-image:url(../img/1.jpg); }
#slide2 { background-image:url(../img/2.jpg); }
#slide3 { background-image:url(../img/3.jpg); }
#slide4 { background-image:url(../img/4.jpg); }
#slide5 { background-image:url(../img/5.jpg); }
#slide6 { background-image:url(../img/6.jpg); }



/* ==== About Section ====*/
.about-me { width:635px; max-width:100%; margin:0 auto; }
.about-me h2 { font-family:'nueu95Blk'; font-size:32px; color:#111; letter-spacing:0.04em; }
.about-me p {font-family:'nueu55Rg'; font-size:16px; color:#555; line-height:2; letter-spacing:0.04em; word-spacing:0.06em; }
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}