/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/*================================================
	FONTS
================================================*/

@font-face {
	font-family: 'FreightText';
	src: url('../fonts/FreightTextBook.eot');
	src: url('../fonts/FreightTextBook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FreightTextBook.woff2') format('woff2'),
		url('../fonts/FreightTextBook.woff') format('woff'),
		url('../fonts/FreightTextBook.ttf') format('truetype'),
		url('../fonts/FreightTextBook.svg#FreightTextBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FoundersGrotesk';
	src: url('../fonts/FoundersGrotesk-Semibold.eot');
	src: url('../fonts/FoundersGrotesk-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
		url('../fonts/FoundersGrotesk-Semibold.woff') format('woff'),
		url('../fonts/FoundersGrotesk-Semibold.ttf') format('truetype'),
		url('../fonts/FoundersGrotesk-Semibold.svg#FoundersGrotesk-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'FoundersGrotesk';
	src: url('../fonts/FoundersGrotesk-Bold.eot');
	src: url('../fonts/FoundersGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FoundersGrotesk-Bold.woff2') format('woff2'),
		url('../fonts/FoundersGrotesk-Bold.woff') format('woff'),
		url('../fonts/FoundersGrotesk-Bold.ttf') format('truetype'),
		url('../fonts/FoundersGrotesk-Bold.svg#FoundersGrotesk-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'FreightText';
	src: url('../fonts/FreightTextBlack.eot');
	src: url('../fonts/FreightTextBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FreightTextBlack.woff2') format('woff2'),
		url('../fonts/FreightTextBlack.woff') format('woff'),
		url('../fonts/FreightTextBlack.ttf') format('truetype'),
		url('../fonts/FreightTextBlack.svg#FreightTextBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'FreightText';
	src: url('../fonts/FreightTextMedium.eot');
	src: url('../fonts/FreightTextMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FreightTextMedium.woff2') format('woff2'),
		url('../fonts/FreightTextMedium.woff') format('woff'),
		url('../fonts/FreightTextMedium.ttf') format('truetype'),
		url('../fonts/FreightTextMedium.svg#FreightTextMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FoundersGrotesk';
	src: url('../fonts/FoundersGrotesk-Medium.eot');
	src: url('../fonts/FoundersGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FoundersGrotesk-Medium.woff2') format('woff2'),
		url('../fonts/FoundersGrotesk-Medium.woff') format('woff'),
		url('../fonts/FoundersGrotesk-Medium.ttf') format('truetype'),
		url('../fonts/FoundersGrotesk-Medium.svg#FoundersGrotesk-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FoundersGrotesk';
	src: url('../fonts/FoundersGrotesk-Regular.eot');
	src: url('../fonts/FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FoundersGrotesk-Regular.woff2') format('woff2'),
		url('../fonts/FoundersGrotesk-Regular.woff') format('woff'),
		url('../fonts/FoundersGrotesk-Regular.ttf') format('truetype'),
		url('../fonts/FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FoundersGrotesk';
	src: url('../fonts/FoundersGrotesk-RegularItalic.eot');
	src: url('../fonts/FoundersGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FoundersGrotesk-RegularItalic.woff2') format('woff2'),
		url('../fonts/FoundersGrotesk-RegularItalic.woff') format('woff'),
		url('../fonts/FoundersGrotesk-RegularItalic.ttf') format('truetype'),
		url('../fonts/FoundersGrotesk-RegularItalic.svg#FoundersGrotesk-RegularItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FreightText';
	src: url('../fonts/FreightTextBold.eot');
	src: url('../fonts/FreightTextBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FreightTextBold.woff2') format('woff2'),
		url('../fonts/FreightTextBold.woff') format('woff'),
		url('../fonts/FreightTextBold.ttf') format('truetype'),
		url('../fonts/FreightTextBold.svg#FreightTextBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/*================================================
	DEFAULTS
================================================*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper { width:100%; float: left; }

.main { width: 1080px; margin: 0 auto; position: relative; max-width: 100%; }

/*================================================
	SOME DEFAULTS
================================================*/


html, body, p { font-family:'FoundersGrotesk', FreightText, sans-serif; letter-spacing:0.7px; }

p { font-size:16px;  }

.font-1p { font-size:17px; }

body { font-size: 16px; color: #4c4c4c; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: normal; background: #ffffff; }

body, input, textarea, select { direction: ltr; font-feature-settings: "liga", "kern"; font-synthesis: none; text-align: left; text-rendering: optimizelegibility; }

img { max-width: 100%; height: auto; }

.link-hidden-texts { border: 0 none; clip: rect(1px, 1px, 1px, 1px); height: 1px; left: 0; overflow: hidden; padding: 0; position: absolute; top: 0; width: 1px; }

.right { float: right; }

.left { float: left; }

.a-left { text-align: left; }

.a-center { text-align: center; }

.a-right { text-align: right; }

.mt0 { margin-top: 0; }

.mb0 { margin-bottom: 0; }

.ml0 { margin-left: 0; }

.mr0 { margin-right: 0; }

.pt50 { margin-top: 50px; }

.up-case { text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 { font-family: 'FoundersGrotesk', FreightText, sans-serif; font-weight: normal; }

.mobile-pre { display:none !important; }



/*================================================
	HEADER
================================================*/

header { width:100%; display: block; min-height: 90px; padding:25px 0; position:absolute; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -ms-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;  z-index:1; }

.logo { width:155px; height:24px; background:url(../img/logo.svg) no-repeat; background-size: contain; float: left; margin-top:2px; }
.logo a { display: block; text-decoration:none; }

nav { display:inline-block;}
nav > ul { margin:0; padding:0; list-style:none; font-size:15px; color:#000; display:inline-block; font-weight:500; letter-spacing:0.5px; text-transform:uppercase; }
nav > ul > li { display:inline-block; padding:0 13.5px; }
nav > ul > li a { text-decoration:none; color:#000/*#666666*/; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -ms-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
nav > ul > li a:hover { color:#f56101; border-bottom:2px solid #f56101; padding-bottom:5px }

.ontop nav > ul > li.active a { font-weight:500; border-bottom:2px solid #f56101; color:#f56101; padding-bottom:5px;}
.StickyNav nav > ul > li.active a { font-weight:500; border-bottom:2px solid #f56101; color:#f56101; padding-bottom:5px;}


.inquiry-btn { display:inline-block; background:#68b2c0; /*border:3px solid #68b2c0;*/ border:none; padding:14px 37px 10px 37px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-left:13.5px; color:#FFF; font-size:18px; font-weight: 300; line-height:18px;  -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -ms-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear;  }

.inquiry-btn:hover { background:#74c0ce; color:#FFF; }

.header-bg { background:url(../img/bg.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100%; background-position: center; padding-top:252px; padding-top:42vh; height:557px; height:100vh; }

.header-bg-service  { background:url(../img/services-header-bg.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100%; background-position: center;  padding-top:211px; padding-top:31vh; height:557px; height: calc(100vh - 31vh); }

.header-bg-team { background:url(../img/team-header-bg.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100%; background-position: center;  padding-top:211px; padding-top:31vh; height:557px; height: calc(100vh - 31vh); }


.header-bg-portfolio { background:url(../img/portfolio-bg.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100%; background-position: center;  padding-top:211px; padding-top:43vh; height:557px; height:100vh; }

.header-bg-careers { background:url(../img/career-bg.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100%; background-position: center;  padding-top:211px; padding-top:43vh; height:557px; height:100vh; }

.header-bg-locanix { background:url(../img/Locanix/locanix-cover.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100%; background-position: center;  padding-top:211px; padding-top:31vh; height:557px; height:100vh; }

.header-bg-montevista { background:url(../img/Motevista/montevista-4.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100%; background-position: center;  padding-top:211px; padding-top:31vh; height:557px; height:100vh; }

.header-bg-awwwedding { background:url(../img/awwwedding/awwwed-2.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 100%; background-position: center;  padding-top:211px; padding-top:31vh; height:557px; height:100vh; }

.header-content h1 { color:#000000; font-size:35px; font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:900; margin:0; padding:0; text-align:center; padding-bottom:15px; }
.header-content p { font-size:22px; color:#4c4c4c; font-weight:normal; margin:0; padding:0; text-align:center; margin-top:5px; }

h1.home-title { font-size:90px; padding:0; line-height:1.5; /*color:#6a50a2;*/ }
.home-title span { color:#f56101; }

.head-buttons { text-align:center; margin-top:24px;}

.work-btn { width:210px; height:48px; padding:15px 10px; display:inline-block; text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #703ec5; border:none; font-size:18px; color:#fff; font-family:'FoundersGrotesk', FreightText, sans-serif;  font-weight:normal; line-height:normal; text-decoration:none; }

.work-btn:hover { background-color:#6131b2; }

.contact-btn { width:210px; height:48px; padding:15px 10px;  display:inline-block; text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color:#bd9655; border:none; font-size:20px; color:#fff; font-family:'FoundersGrotesk', FreightText, sans-serif; font-weight:normal; line-height:normal; margin-left:16px; text-decoration:none; }

.contact-btn:hover { background-color:#b58a42; }


header.ontop {  background:none; }
header.StickyNav { padding-top:0; background: #FFFFFF; height: 65px; position:fixed; top:-90px; width:100%; transition: top 0.2s ease-in-out; -webkit-transition: top 0.2s ease-in-out; -o-transition: top 0.2s ease-in-out; -moz-transition: top 0.2s ease-in-out; border-bottom: 1px solid #ececec; -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.02); box-shadow: 0 5px 5px 0 rgba(0,0,0,0.02); }

.StickyNav .wrapper { padding-top:25px; }

.nav-down { top:0px !important; }


/* ==========================================================================
   INNER PAGES
   ========================================================================== */
.header-bg-service, .header-bg-team { padding-top:254px; padding-top:38vh; height:514px; height:100vh;}
.header-bg-team { padding-top:43vh; }
.header-bg-service h1, .header-bg-service p { color:#000000; }
.header-bg-service h1 { font-size:70px; line-height: 1.5; }
.header-bg-service h1 span { color:#bd9655; }
.header-bg-portfolio h1 { font-size:70px; line-height: 1.5; }
.header-bg-portfolio h1 span { color:#703ec5; }
.header-bg-team h1 { font-size:70px; line-height: 1.5; }
.header-bg-team h1 span { color:#68b2c0; }
.header-bg-careers h1 { font-size:70px; line-height: 1.5; }
.header-bg-careers h1 span { color:#703ec5; }
.header-bg-team h1, .header-bg-team p { /*color:#FFFFFF;*/ }
.header-bg-service p, .header-bg-team p { font-size:20px; line-height:1.8; }

.contact-page { background:#f7f7f7; }
.contact-page header.ontop { background:#FFFFFF; height:65px; border-bottom: 1px solid #ececec; -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.02); box-shadow: 0 5px 5px 0 rgba(0,0,0,0.02); }
.contact-page .inner-content { padding:90px 0 0;}
.contact-form { border:1px solid #ececec; background:#FFF; padding:25px 50px; margin:20px 100px 10px; }
.contact-form .form-group .control-label { left:0; }
.contact-form .form h3, .contact-form .form p { line-height:normal; }

.contact-content-main { margin:20px 100px 20px; }
.contact-content { width:50%; border:1px solid #ececec; background:#FFF; padding:25px; float:left; }
.contact-content b { font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:500; color:#000; font-size:18px; line-height:normal; }
.contact-content p { line-height:normal; margin-top:0px !important; font-size:16px !important; }
.contact-content a { text-decoration:none; color:#703ec5; }
.contact-content a:hover { text-decoration:underline; }
.div-table { display:table; width:100%; padding-bottom:15px; }
.div-cell { display:table-cell; width:50%; }

.inner .ontop .logo { background:url(../img/logo-transparent.png) no-repeat; }
.inner .logo { background:url(../img/logo.svg) no-repeat; background-size: contain; }
.inner .ontop nav a { color:#FFFFFF; }
.inner .ontop nav a:hover { border-bottom:2px solid #FFF; padding-bottom:5px; }
.inner .ontop nav li.active a { font-weight:500; border-bottom:2px solid #FFF; color:#FFF; padding-bottom:5px;}
.inner .StickyNav nav li.active a { font-weight:500; border-bottom:2px solid #f56101; color:#f56101; padding-bottom:5px;}
.inner .ontop .inquiry-btn { border-color:#FFFFFF; color:#FFFFFF;}
.inner .ontop .inquiry-btn:hover { background:#ff931e; color:#FFF; }
.inner h1 { font-size:45px; font-weight:bold; }

.services-description { background: url(../img/services-pattern.png) repeat #fafafa; }
.serivces-box { width:50%; max-width:718px; background-color:#fff; -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1);	box-shadow: 0 2px 5px rgba(0,0,0,0.1); margin:50px auto; position:relative; padding:40px 75px; }

.serivces-box h2 { font-weight:700; font-size:35px; line-height:1.5; letter-spacing:2px; color:#000000; text-align:center; margin:0; }
.serivces-box p { font-weight:normal; font-size:18px; line-height:1.9; color:#666666; margin:0; margin-top:3%;}
.services-border { border-bottom:1px solid #e5e5e5; }
.services-block { padding:80px 0; }
.services-block .right { width:56%; text-align:center; }
.services-block .right span { display:block; padding-bottom:50px; }
.services-block .left { width:44%; }
.services-block h3 { font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:800; font-size:30px; color:inherit; margin:0; }
.services-block p { font-size:17px; font-weight:normal; line-height:1.8; color:#000/*#666666*/; margin:3% 0;}
.services-block ul { position:relative; margin:0; padding:0; list-style:none; color:#000/*#666666*/; margin:4% 0; }
.services-block li { float:left; position:relative; width:50%; color:#000/*#666666*/; font-size:16px; line-height:2; padding-left:40px; letter-spacing:0.5px; }
.services-block a { font-weight:500; font-size:18px; padding-bottom:5px; }

.mid-item { padding-top:30px; }
.max-60 { max-width:60% !important; }

.orange-theme { color:#f56101; }
.orange-theme a { color:#f56101; text-decoration:none; border-bottom:2px solid currentcolor; }
.orange-theme a:hover { color:#f56101; border-bottom:none; }
.orange-theme li:before { background: url(../img/bullets.png) no-repeat 0px 0px; width: 7px; height: 7px; display: block; position: absolute; content: " "; top: 10px; left: 20px; }

.dark-brown-theme { color:#703ec5; }
.dark-brown-theme a { color:#703ec5; text-decoration:none; border-bottom:2px solid currentcolor; }
.dark-brown-theme a:hover { color:#703ec5; border-bottom:none; }
.dark-brown-theme li:before { background: url(../img/bullets.png) no-repeat -7px -7px; width: 7px; height: 7px; display: block; position: absolute; content: " "; top: 10px; left: 20px; }

.sky-brown-theme { color:#68b2c0; }
.sky-brown-theme a { color:#68b2c0; text-decoration:none; border-bottom:2px solid currentcolor; }
.sky-brown-theme a:hover { color:#68b2c0; border-bottom:none; }
.sky-brown-theme li:before { background: url(../img/bullets.png) no-repeat -14px 0px; width: 7px; height: 7px; display: block; position: absolute; content: " "; top: 10px; left: 20px; }

.brown-theme { color:#bd9655; }
.brown-theme a { color:#bd9655; text-decoration:none; border-bottom:2px solid currentcolor; }
.brown-theme a:hover { color:#bd9655; border-bottom:none; }
.brown-theme li:before { background: url(../img/bullets.png) no-repeat -21px -7px; width: 7px; height: 7px; display: block; position: absolute; content: " "; top: 10px; left: 20px; }


/* ==========================================================================
   CONTACT SECTION IN INNER PAGES
   ========================================================================== */
.contact-sec { background:#31383e; border-bottom:1px solid #68b2c0; border-top:1px solid #68b2c0; padding:50px 0; }
.contact-sec h3 { font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:800; color:#FFF; font-size:42px; text-align:center; margin:0; text-transform:capitalize; letter-spacing:1px; padding-bottom:10px; }
.contact-sec p { font-weight:300; font-size:20px; color:#FFF; text-align:center; margin:0; padding-bottom:30px; }

.contact-sec input { width:100%; height:60px; background:#fff; padding:14px 15px 10px; font-size:16px; line-height:1.8; border:1px solid #FFF; }
.contact-sec textarea { width:100%; height:132px; background:#fff; padding:14px 15px 10px; font-size:16px; line-height:1.8; border:1px solid #FFF; }
.contact-sec button { width:180px; height:50px; background:#68b2c0; border:none; font-weight:500; font-size:22px; color:#ffffff; letter-spacing:1px; padding-top:9px; }
.contact-sec button:hover { background:#57a3b1; }
.contact-spacing { padding-top:13px; }

.contact-container { width:28.703703%;  max-width:310px; float:left; padding-right:13px; }
.contact-container-big { width:40.092592%; float:left;  max-width:433px; }

/* ==========================================================================
   REST PAGES
   ========================================================================== */
.inner-content { padding:20px 0 50px; }
.inner-content h2 { font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:600; font-size:28px; color:#000000; line-height:1.8; margin:3.5% 0; }
.inner-content h3 { font-weight:600; font-size:24px; color:#000000; line-height:1.8; margin:3.5% 0; }
.inner-content p { font-weight:normal; font-size:18px; color:#000/*#666666*/; line-height:1.8; margin:0; margin:3.5% 0; }
.inner-content b, .inner-content strong { font-weight:600; }
.inner-content .single-col{ width:100%; max-width:566px; margin:0 auto; position:relative; }
.full-col { width:100%; max-width:1080px; margin:1.5% auto; position:relative; }
.full-width { width:100%; max-width:100%; margin:1.5% auto; position:relative; text-align:center; }
/*.full-width img { width:100%; max-width:100%; }*/
.two-col { width:100%; max-width:1080px; margin:0 auto; position:relative; display:table; }
.two-col .inner-col { width:50%; display:table-cell; padding-left:10px; }
.two-col .inner-col:first-child {width:50%; display:table-cell; padding-left:0; padding-right:10px; }


/* ==========================================================================
   Services List
   ========================================================================== */

.services-list { padding:50px 0 80px; display:block; border-top:1px solid #e5e5e5; }
.services-list h2 { margin:0; padding:0; font-size:30px; color:#000000; font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:900; padding-bottom:10px; }
.services-list p { margin:0; padding:0; font-size:17px; color:#000/*#666666*/; font-weight:normal; padding-top:10px; line-height:30px; }

.services-lists { margin:0; padding:0; list-style:none; }
.services-lists li { width:33.1%; display:inline-table; padding-top:55px; }
.services-lists .container { padding:0 20px; }
.services-lists li span { float:left; padding:0 20px 100px 20px; }
.services-lists li b { margin:0; padding:0; font-size:14px; font-weight:500; letter-spacing:0.5px; text-transform:uppercase; line-height:25px; text-align:left; }
.services-lists li p { margin:0; padding:0; font-size:16px; color:#000/*#666666*/; font-weight:normal; line-height:25px; text-align:left; }
.services-lists li a { line-height:25px; color:#666666; text-decoration:none; }
.services-lists li a:hover { color:#177be3; }

.orange-col { color:#f56101; }
.gray-col { color:#31383e; }
.blue-col { color:#703ec5; }
.sky-col { color:#68b2c0; }
.brown-col { color:#bd9655; }
.green-col { color:#a1c50c; }

/* ==========================================================================
   CONTENT AREA
   ========================================================================== */
.content-sec { font-size:18px; color:#000/*#666666*/; line-height:32px; }
.bor-top { border-top:1px solid #e5e5e5; }
.about-us-text { /*background:#fafafa;*/ }
.content-sec a { font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:700; color:#703ec5; text-decoration:none; border-bottom:1px dashed  #703ec5; padding-bottom:4px; }
.content-sec a:hover { border-bottom:none; }
.content-sec h2 { font-family:'FreightText', FoundersGrotesk, sans-serif; font-size:30px; color:#000000; font-weight:700; margin:0; padding:0; line-height:38px;}
.text-sec { width:500px; max-width:100%; text-align:left; display:inline-block; padding:30px 0; }
.text-sec p { font-size:17px; }
.col-row { display:table; width:100%; }
.full-height { height:600px; height:100vh; }
.two-col { width:50%; display:table-cell; text-align:center; vertical-align:middle; }
.portfolio-item { position:relative; margin-bottom:20px; }
.portfolio-item:first-child { margin-top:40px; }
.portfolio-page { width:100%; display:block; text-align:center; vertical-align:middle; }
.portfolio-page.project-shot { height:600px; position:relative;}
.portfolio-page.project-info { position:absolute; bottom:0; background:rgba(0,163,46,0.95); }
.portfolio-page.project-info.magenta { background:rgba(178,36,142,0.95); }
.portfolio-page.project-info.blue { background:rgba(42,78,156,0.95);  }

.team-photo { background:url(../img/team-photo.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.project-shot { background:url(../img/project-shot.png) no-repeat top right; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.project-shot.interact-shot { background:url(../img/interact-shot.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.project-shot.awwwed-shot { background:url(../img/awwwed-shot.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.project-shot.montevista-shot { background:url(../img/montevista-shot.png) no-repeat top center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.project-info { background:#68b2c0; color:#FFF; }
.project-info.blue { background:#2a4e9c; color:#FFF; }
.project-info.magenta { background:#703ec5; color:#FFF; }
.project-info .text-sec { width:59.2%; min-width:400px; }
.project-info a { color:#FFF; border-bottom-color:#FFF; }
.project-info h2 { font-size:30px; color:#FFF; }

a.readmore { font-weight:700; }


/* ==========================================================================
   FEATURED CUSTOMERS
   ========================================================================== */
.featured-sec { padding:50px 0;  }
.featured-customers > ul { width:100%; max-width:540px; list-style:none; margin:0; padding:0; }
.featured-customers > ul > li { width:47.222222%; height:130px; float:left; text-align:center; vertical-align:middle; margin:0 0 30px 0; }
.featured-customers > ul > li:nth-child(even) { margin-left:15px; }
.featured-customers > ul > li img { display:inline; }
.helper { display: inline-block; height: 100%; vertical-align: middle; }
.featured-sec .text-sec { width:500px; padding-left:30px; }
.featured-sec a { color:#703ec5; border-bottom-color:#703ec5; }

/* ==========================================================================
   TESTIMONIALS
   ========================================================================== */

.testimonials-sec { }
.testimonials-sec p { color:#000/*#555*/ }
.testimonials-sec .name { font-family:'FreightText', FoundersGrotesk, sans-serif;  font-weight:700; color:#000; }
.light-grey { padding:50px 0; background:#fafafa; position:relative; }
.dark-grey { padding:50px 0; background:#f7f7f7; position:relative; }

.comma-one { margin-right:10px; vertical-align:text-bottom; }
.comma-two { margin-left:10px; vertical-align:text-bottom; }

.cta-sec { background:#31383e; padding:50px 0; color:#FFF; font-size:20px; font-weight:normal; line-height:32px; }
.cta-button { width: 370px;	padding:16px 0 12px; border:none; color:#f56101; font-size:20px; font-weight:500; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color:#fff; }
.cta-text { font-family:'FreightText', FoundersGrotesk, sans-serif; font-size:30px; font-weight:600; padding-top: 16px;}


.footer { display:block; position:relative; padding:50px 0 0; }
.footer-col { float:left; width:23.076923%; max-width:254px; margin:0 0 0 1.923077%; text-align:center; }
.footer-title { font-size:18px; color:#703ec5; font-weight:500; padding-bottom:14px; text-align:left; }
.footer-col ul { margin:0; padding:0; list-style:none; font-size:16px; color:#666666; font-weight:normal; line-height:28px; text-align:left; display:inline-block; }
.footer-col a { color:#000/*#666666*/; text-decoration:none; outline:none; }
.footer-col a:hover { color:#703ec5; }
.footer-col a[href*="mailto:"]{ color:#703ec5;}
.footer-col a[href*="mailto:"]:hover { text-decoration:underline; }


.footer-col:first-child { margin:0; }
.footer-col p { margin:0; padding:0; padding-bottom:25px; font-size:16px; color:#000/*#666666*/; font-weight:normal; line-height:24px; text-align:left; }
.footer-col p:last-child { padding:0; }

.footer-copyright { padding:60px 0 30px; }
.footer-social a { margin:0 10px;}
.footer-social a:hover {  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8; }
.developer { color:#000/*#666666*/; text-decoration:none; }
.developer:hover { color:#177be3; }

/* ==========================================================================
   Inner Pages
   ========================================================================== */
#popup { display:none; }
.quote-form { width:100%; max-width:1000px; height:600px; display:table; margin:0 auto; }

.quote-form .pop-content { width:50%; display:table-cell; background:url(../img/popup-bg.png) no-repeat center center #6a50a2; padding:40px 32px 0;  }
.pop-content h2 { font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:900; color:#ffffff; font-size:35px; text-align:left; margin:0; padding:0; padding-bottom:20px; }
.pop-content p { font-weight:normal; color:#ffffff; font-size:16px; text-align:left; line-height:1.5; margin:0; padding:0; padding-bottom:20px; }

.pop-content h4 { font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:700; color:#ffffff; font-size:32px; text-align:center; margin:0; padding:0; border-top:2px solid rgba(255,255,255, 0.2); padding:12px 0 12px; }

.pop-content ul { margin:0; padding:0; list-style:none; color:#FFFFFF; color:#ffffff; font-size:16px; padding-bottom:24px;  }
.pop-content li { background:url(../img/orange-bullet.png) no-repeat top left; background-position:0 12px; padding:8px 0 8px 20px; }

.quote-form .form { width:50%; display:table-cell; padding:30px 40px; position:relative;}
.form h3 { font-family:'FreightText', FoundersGrotesk, sans-serif; font-weight:900; color:#000000; font-size:35px; text-align:left; margin:0; padding:0; }
.form p { font-weight:normal; color:#b2b2b2; font-size:18px; text-align:left; margin:0; padding:0; padding-top:10px; }

.half-box { width:100%; position: relative;	margin-top: 2.0rem; margin-bottom: 2.0rem; }
.half-box .form-group { float:left; width:49%; margin-top:0; margin-bottom:0; }
.half-box .form-group:first-child{ width:45%; margin-top:0; margin-bottom:0; margin-right:4%; }

.contact-details { display:table; width:100%; color:#FFFFFF;  border-top:2px solid rgba(255,255,255, 0.2); padding-top:20px;}
.contact-details a { color:#FFFFFF; text-decoration:none; }
.contact-details span { display:table-cell; text-align:center; width:33.333333%; font-size:14px; line-height:26px; font-weight:400;}
.contact-details span b { font-size:20px; font-weight:500; }


#result { font-size:16px; line-height:1.5em; position:absolute; width:85%; width:calc(100% - 80px); top:39px; left:40px;   }
#result .error { background:#ededed; padding:20px; margin-bottom:10px; }
#result .success { background:#8ec841; padding:20px; color:#FFFFFF; margin-bottom:10px; }

/* CAREERS PAGE */

.opening-entry { padding:25px; background:#fafafa; border:2px solid #f2f2f2; margin-top:15px; }
.opening-entry:hover { border-color:#f56101; -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.05); box-shadow: 0 0 20px 0 rgba(0,0,0,0.05); }
.opening-entry h3 { margin:0; color:#f56101; }
.opening-entry h3 a { color:#f56101; text-decoration:none; }
.opening-entry h3 a:hover { border-bottom:2px dotted #f56101;}
.opening-entry h3 span { color:#8c8c8c; font-size:16px; font-weight:normal; }
.opening-entry p { margin:0; font-size:16px; }
.location { color:#666; font-weight:500; }

/* ==========================================================================
   Mouse Scroll
   ========================================================================== */
.mouse-scroll { position:absolute; margin-left:50%; transform: translate(-50%, 0); bottom:30px; }
.mouse-scroll .arrows { padding-top:10px; }
.mouse-scroll span { display: block; width: 5px; height: 5px; -ms-transform: rotate(45deg); /* IE 9 */ -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */ transform: rotate(45deg); border-right: 2px solid white; border-bottom: 2px solid white; margin: 0 0 3px 6px; }
.unu { margin-top: 6px; }
.unu, .doi, .trei { -webkit-animation: mouse-scroll 1s infinite; -moz-animation: mouse-scroll 1s infinite; }
.unu { -webkit-animation-delay: .1s; -moz-animation-delay: .1s; -webkit-animation-direction: alternate; }
.doi { -webkit-animation-delay: .2s; -moz-animation-delay: .2s; -webkit-animation-direction: alternate; }
.trei { -webkit-animation-delay: .3s; -moz-animation-delay: .3s; -webkit-animation-direction: alternate; }
.mouse { height: 31px; width: 24px; border-radius: 10px; transform: none; border: 2px solid white; top: 170px; margin-left:-4px; }
.wheel { height: 5px; width: 2px; display: block; margin: 5px auto; background: white; position: relative; }
.wheel { -webkit-animation: mouse-wheel 1.2s ease infinite; -moz-animation: mouse-wheel 1.2s ease infinite; }
 @-webkit-keyframes mouse-wheel
{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 1130px) {
.main { max-width:92%; }

/* HEADER */


/* SERVICES */
.services-lists li { width:33.0%; }
.services-lists .container { padding:0 10px; }

/* COLUMNS */
.text-sec { width:80%; }
.featured-sec .text-sec { width:94%; padding-left:6%; }

/* FOOTER */
.cta-text { font-size: 26px;}
}

@media only screen and (min-width:1024px)  {  nav {display:inline-block !important; } }

@media (max-width: 1023px) {
.main { max-width:85%; }
.header-bg { background-size: 150%; }

/* HEADER */
nav > ul { font-size:18px; }
nav > ul > li { padding:0 5px;}
.inquiry-btn { margin-left:5px; font-size:100%; padding:11px 18px 7px; }

.content-sec .col-row {display: flex; flex-direction: column;}
.comes-first { order:1; }
.comes-second { order:2; }

.header-content h1 { font-size:65px; }
.header-content p { font-size:20px; }

.inner.team .nav-down .btn2 .icon { background-color: #828283; }
.inner.team .nav-down .btn2 .icon:before { background-color: #828283; }
.inner.team .nav-down .btn2 .icon:after { background-color: #828283; }
.inner.team .nav-down .btn2.open .icon  { background:transparent; }
.inner.team .nav-down .btn2.open .icon:before { background-color: #f56101; }
.inner.team .nav-down .btn2.open .icon:after { background-color: #f56101; }


.inner.team .btn2 .icon { background-color: #FFF; }
.inner.team .btn2 .icon:before { background-color: #FFF; }
.inner.team .btn2 .icon:after { background-color: #FFF; }
.inner.team .btn2.open .icon  { background:transparent; }
.inner.team .btn2.open .icon:before { background-color: #FFF; }
.inner.team .btn2.open .icon:after { background-color: #FFF; }



.btn2 { position: absolute; width: 30px; height: 40px; top: -16px; right: 0; z-index: 10000; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; }
.btn2 .icon { -webkit-transition-duration: 0.5s; transition-duration: 0.5s; position: absolute; height: 3px; width: 30px; top: 27px; background-color: #828283; }
.btn2 .icon:before { -webkit-transition-duration: 0.5s; transition-duration: 0.5s; position: absolute; width: 30px; height: 3px; background-color: #828283; content: ""; top: -8px; }
.btn2 .icon:after { -webkit-transition-duration: 0.5s; transition-duration: 0.5s; position: absolute; width: 30px; height: 3px; background-color: #828283; content: ""; top: 8px; }
.btn2.open .icon { -webkit-transition-duration: 0.5s; transition-duration: 0.5s; background: transparent; }
.btn2.open .icon:before { -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px); transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px); background-color: #f56101;}
.btn2.open .icon:after { -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -5px); transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -5px); background-color: #f56101; }
.btn2:hover { cursor: pointer; }


button { outline: none; }

.inquiry-btn { position:absolute; right:60px; top:-5px; }
.inquiry-btn:hover { background:#f79226;}

/* CONTACT POPUP */
.quote-form .form { padding:50px 40px; }
.quote-form .pop-content { display:none; }
.quote-form .form { display:inline-block; width:100%; }
.form h3, .form p { text-align:center; }

nav { width:30vw; text-align: center; background-color:#FFF; position:relative; z-index:1; right:-3%; top:65px; padding:0px 0; -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.1); box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);}
nav ul {  float:none; margin:0; padding:0;  display: block; }
nav > ul > li { display: block; list-style-type: none; padding:0;  }
nav > ul > li a {  color:#000 !important; display: block;  padding:15px 0 10px !important;  border-bottom:1px solid rgba(0, 0, 0, 0.10) !important;   }
nav > ul > li a:hover { color:#f56101 !important; background-color:#f7f7f7; }
nav > ul > li.active a { color:#f56101 !important; background-color:#f7f7f7; }

/* SERVICES */
.services-lists { padding-top:20px; }
.services-list { padding:60px 0 40px; }
.services-list h2 { text-align:center; }
.services-lists li { width:49.7%; padding-top:30px; }
.services-lists .container { padding:0 10px; }

/* COLUMNS */
.text-sec { width:70%; }
.full-height { height:100%; }
.two-col { width:100%; display:block; justify-content:center; align-items: center; height:100%; }
.text-sec { padding:50px 0; }
.featured-sec .text-sec { width:94%; padding-left:6%; }
.team-photo, .project-shot { min-height:450px; }
/*.row_even { flex-direction: column-reverse; justify-content: flex-end; }*/

/* FEATURED */
.featured-customers > ul > li { margin:0 0 15px; width:31.865%; }
.featured-customers > ul { max-width:100%; }

.light-grey, .dark-grey { padding:0px 0; }


/* CTA */
.cta-row .left, .cta-row .right { float: none; display:block; text-align: center;}
.cta-button { width:250px; }
.cta-text { font-size:25px; padding: 0 0 20px 0;}
.cta-sec { padding:40px 0; }

/* WHAT WE DO */
.header-content p br { display:none; }

/* FOOTER */
.footer-copyright .left, .footer-copyright .right { float:none; display:block; text-align: center; padding-bottom: 20px;}

}

@media only screen and (max-width:1023px)  {  nav {display:none; } }

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { .header-bg {padding-top: 46.5vh;} }


@media (max-width: 799px) {

/* HEADER */
.header-content h1 { font-size: 65px; }
.header-content p { font-size: 18px; }

.inner-content .single-col { width:80%;  }
.full-col { width:90%; }

/* SERVICES */
.featured-customers > ul > li { width: 31.75%; }

/* FEATURED */
.featured-customers > ul > li img { max-width:80%; }

/* CTA */
.cta-button { width:200px; font-size:18px; padding:12px 0 7px; }

/* FOOTER */
.footer-col:first-child { width:100%; background:rgba(0, 0, 0, 0.05);  padding:30px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left:0; float:none; max-width:none; }
.footer-col p { padding-bottom:10px; }
.footer-col { text-align:left; width:31.4%; padding-top:30px; }

.footer-copyright { text-align:center;  padding:20px 0 50px; }
.footer-copyright .left, .footer-copyright .right { float:none; }
.footer-social { padding-top:15px; }

/* Bottom Fourm */
.contact-sec h3 { font-size:38px; }
.contact-sec input { height:50px; }
.contact-sec textarea { height:113px; }
.contact-sec button { width:150px; }

/* WHAT WE DO */
.services-block .left, .services-block .right { width:100%; }
.services-block .right { padding-top:20px; }

}

@media (max-width: 767px) {

/* HEADER */
.header-bg { height:100vh; padding-top: 47vh;}
/*.header-bg::after { content: ""; background: url(../img/bg.png) repeat top center; opacity: 0.5; top: 0; left: 0; bottom: 0; right: 0; position: absolute; z-index: -1; }*/

.work-btn, .contact-btn { width:46%; font-size: 18px; padding:15px 30px 9px; min-width:120px; }
.contact-btn { margin:0 0 0 10px; }

.header-content p { margin:5px 0 10px; font-size:18px; line-height:24px; }
.header-content h1 { font-size:14vw; line-height:40px; }

/* CONTACT POPUP */
.quote-form .form { display:inline-block; width:100%; padding:50px 40px; }
.form h3, .form p { text-align:center; }

nav { width:50vw; }
nav > ul > li:last-child a { border-bottom:none; }

/* SERVICES */
.services-lists { margin-left: -1.5vw; width:91vw; padding-top:0; }
.services-list {padding: 40px 0 40px;}
.services-lists li b, .services-lists li p { display:table-header-group; /*padding:0px 0 0 75px;*/ }
.services-lists li p  { font-size:15px; }
.services-list p { padding-top:30px; }
.services-lists li { padding-top:30px; width:49%; }
.services-lists .container {padding:0; }
.services-lists li span { padding:0 14px 0 0; }

/* COLUMNS */
.project-info .text-sec { width:59.2%; min-width:300px; }
.content-sec h2 { font-size:26px;  }
.featured-sec .text-sec { padding:0; width:90%;}

/* FEATURED */
.featured-customers > ul > li { width: 47.2222%;  height:120px; }
.featured-sec { padding:50px 0 20px; }

/* CTA */
.cta-sec { padding:20px 0 30px; }
.cta-sec .right, .cta-sec .left { float:none; }
.cta-text { text-align:center; font-size: 23px; font-weight:400; }
.cta-button { width:100%; font-size:18px; padding:12px 0 7px;  margin-top:20px;}

/* Bottom Fourm */
.contact-container { width:50%;  max-width:100%; }
.contact-container + .contact-container { padding-right:0; }
.contact-container-big { width:100%; padding-top: 15px; max-width:100%; }
.contact-sec button { width:100%; }

/* WHAT WE DO */
.services-block { padding:40px 0;}
.services-block li { line-height:1.5; padding-top:10px; width:100%; }
.services-block a { font-size: 16px; }
.services-block li::before { top:16px !important; }

/* CONTACT US PAGE */
.form h3 { font-size:38px; }
.div-table { padding-bottom:0px; }
.div-cell { display:inline-block; padding-bottom:10px; width:100%; }
.div-table + div { padding-top:10px; }
.contact-form { padding:50px 30px; }

}

@media (max-width:479px) {

/* HEADER */
.header-content h1 { font-size:15vw; }
.work-btn, .contact-btn { padding:15px 0 0; font-size:16px;  }
.mobile-pre { display:block !important; }
.mobile-hide { display:none !important; }
nav { width:90vw; top:38px; padding-bottom:10px; }
nav > ul > li:last-child a { border-bottom:1px solid rgba(0, 0, 0, 0.1); }
.inquiry-btn.mobile-pre { background:#f79226; color:#FFF; width:95%; margin:10px 10px 0px 10px; position:relative; top:0; left:0; }
.inquiry-btn.mobile-pre:hover { background:#ff1d25; border-color:#ff1d25; }

/* SERVICES */
.services-list h2 { font-size:27px; }
.services-list p { padding-top:20px; font-size:17px; line-height:28px; }

/* COLUMNS */
.text-sec { width: 80%;}
.content-sec h2 { text-align:left; }
.project-info .text-sec { min-width:260px; text-align:left; }

/* FOOTER */
.footer-col { float:none; max-width: none; margin-left:0; text-align:center; width:100%; }
.footer-col ul { text-align:center; display:block; }
.footer-col p, .footer-title { text-align:center; }

.footer-copyright p { font-size:15px; line-height:30px; }

/* Bottom Fourm */
.contact-sec h3 { font-size: 30px; }
.contact-sec p { font-size:18px; }
.contact-container { width:100%; padding-right:0; padding-bottom:15px; max-width:100%; }
.contact-container-big { width:100%; padding-top:0; }

/* Our Work */
.portfolio-page.project-info { position:relative; }
.portfolio-page.project-info .text-sec { min-width:220px; padding:25px 0; }
.portfolio-page.project-shot { min-height:0; height:200px; }

.portfolio-page.project-info h2 {font-size: 22px; line-height:1.65}
.portfolio-page.project-info p {font-size:16px; line-height:1.65}
}

@media (max-width:359px) {
.services-lists li { width:80%; display:table; float:none; margin:0 auto;  }
}

/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

nav { display:block !important; }

}*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
