@charset "utf-8";
/* CSS Document */

/*===============================================
			TYPOGRAPHY
=================================================*/

#shotsByPlayerId a { }
#shotsByPlayerId img { float:left; max-width:400px; margin-left:6px; margin-top:6px; }
.wrapper { width:100%; float:left; }
.content { font-size:20px; padding:0 0; letter-spacing:0.1px; line-height:38px; font-weight:100; }
.content strong { font-weight:500; color:#444444; }
.content h2 { font-weight:300; font-size:30px; color:#222222; }
.rt-brdr { border-right:1px solid rgba(90, 97, 102, 0.2); }
.sign { opacity: 0.8; padding-top:20px; }
.dribbble-color { color:#ec4a89; }
.insta-color { color:#613319; }
.twitter-color { color:#009fd3; }

/*===============================================
				FIXED HEADER
=================================================*/
.header { width:100%; height:70px; position:fixed;top:0;left:0; z-index:2000;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000;-moz-perspective:1000;-ms-perspective:1000;perspective:1000; /*background:#FFFFFF;  -webkit-box-shadow:0 0 2px rgba(6,8,8,0.15);box-shadow:0 0 2px rgba(6,8,8,0.15);*/ padding:20px 0; }

.logo { padding-top:3px; margin-left:30px; }

.logo img { vertical-align:top; }

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-red {
    background: #e85c41;
    color: #FFFFFF !important;
}
.contact-me {
    margin-left: 20px;
    width: 150px;
    margin-top:7px;
	font-weight:600;
}

/*===============================================
===				NAVIGATION 					  ===
=================================================*/

nav { margin-left:10px; font-size:14px; padding:12px 0; color:rgba(11, 18, 29, 0.4); }
nav a { padding:0 10px; text-transform:uppercase;font-size:13px; letter-spacing:1px;color:rgba(11,18,29,.4);text-shadow:0 1px 2px rgba(255,255,255,.5);line-height:34px;transition:.2s color linear;display:inline-block}
nav a:first-child { padding-left:0; }
nav a:hover, nav a.active { color:#333333; }

/*===============================================
===				CONTACT US 					  ===
=================================================*/
#contact_form { padding:0 30px; }
::-webkit-input-placeholder {
color:#7D7D7D
}
:-moz-placeholder {
color:#7D7D7D
}
::-moz-placeholder {
color:#7D7D7D
}
:-ms-input-placeholder {
color:#7D7D7D
}
.text-field input { width:100%; height:40px; margin-bottom:10px; position:relative; border:none; border:1px solid rgba(90, 97, 102, 0.2); font-size:14px; padding:0 10px; }
.text-field textarea { width:100%; position:relative; border:none; border:1px solid rgba(90, 97, 102, 0.2); font-size:14px; word-wrap: break-word; margin-bottom:4px; resize:none; padding:0 10px; line-height: 2em; }
.text-field button { width:100%; height:50px; position:relative; background:#009fd3; border:3px solid #009fd3; font-size:16px; color:#FFFFFF; font-weight:500; }

.contact-texts { font-size:13px; color:#7D7D7D; }

#result { font-size:16px; line-height:1.7em; }
#result .success { background:#8ec841; padding:10px; color:#FFFFFF; margin-bottom:10px; }

/*===============================================
===				FULL SCREEN BG 				  ===
=================================================*/

.full-screen { background:url(../images/office-background.jpg) #52596b; background-size:100% 100%; background-attachment: fixed; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; min-height:700px; background-position:center center !important; padding-top:100px; }