
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*================================================
	FONTS
================================================*/


@font-face { font-family: 'Calibre'; src: url('../fonts/Calibre-Bold.eot'); src: url('../fonts/Calibre-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibre-Bold.woff2') format('woff2'), url('../fonts/Calibre-Bold.woff') format('woff'), url('../fonts/Calibre-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Calibre'; src: url('../fonts/Calibre-Regular.eot'); src: url('../fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibre-Regular.woff2') format('woff2'), url('../fonts/Calibre-Regular.woff') format('woff'), url('../fonts/Calibre-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Calibre'; src: url('../fonts/Calibre-Semibold.eot'); src: url('../fonts/Calibre-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibre-Semibold.woff2') format('woff2'), url('../fonts/Calibre-Semibold.woff') format('woff'), url('../fonts/Calibre-Semibold.ttf') format('truetype'); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Calibre'; src: url('../fonts/Calibre-Light.eot'); src: url('../fonts/Calibre-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibre-Light.woff2') format('woff2'), url('../fonts/Calibre-Light.woff') format('woff'), url('../fonts/Calibre-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Calibre'; src: url('../fonts/Calibre-Medium.eot'); src: url('../fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Calibre-Medium.woff2') format('woff2'), url('../fonts/Calibre-Medium.woff') format('woff'), url('../fonts/Calibre-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; }


/*================================================
	DEFAULTS
================================================*/


html { color: #222; font-size: 1em; line-height: 1.4; }

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}

::selection { background: #b3d4fc; text-shadow: none; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper { width: 100%; float: left; }

.main { width: 1170px; margin: 0 auto; position: relative; max-width: 100%; }

/*================================================
	SOME DEFAULTS
================================================*/


html, body, p { font-family: 'Calibre', sans-serif; }

body { font-size: 17px; color: #4c4c4c; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: normal; background: #ffffff; }

body, input, textarea, select { direction: ltr; font-feature-settings: "liga", "kern"; font-synthesis: none; text-align: left; text-rendering: optimizelegibility; }

img { max-width: 100%; height: auto; }

.link-hidden-texts { border: 0 none; clip: rect(1px, 1px, 1px, 1px); height: 1px; left: 0; overflow: hidden; padding: 0; position: absolute; top: 0; width: 1px; }

.right { float: right; }

.left { float: left; }

.a-left { text-align: left; }

.a-center { text-align: center; }

.a-right { text-align: right; }

.mt0 { margin-top: 0; }

.mb0 { margin-bottom: 0; }

.ml0 { margin-left: 0; }

.mr0 { margin-right: 0; }

.pt50 { margin-top: 50px; }

.up-case { text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 { font-family: 'Calibre', sans-serif; font-weight: normal; }

.mobile-pre { display:none; }


/*================================================
	HEADER
================================================*/

header { width:100%; display: block; border-bottom: 1px solid #e5e5e5; background:#FFF; min-height: 90px; z-index:1; position: fixed;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out; top: 0;}

.logo { float: left; padding: 21px 0 21px 12px; }

.navigation { float: right;}

nav { display: inline-block; }

nav ul { margin: 0; padding: 0; list-style: none; font-size: 0; }

nav li { margin: 0; padding: 0; display: inline-block; color: #4c4c4c; font-size: 19px; font-weight: normal; padding: 0 13.5px; position:relative; }

nav li a { color:#4c4c4c; text-decoration: none; padding: 33px 0; display:block; }

nav li:hover > a { color:#0fa1e0; }

/* SUB MENU */

nav > ul > li > ul { display:none; position:absolute; top:100%; left:0%; background:#FFF; -webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,0.2); box-shadow: 0 3px 2px 0 rgba(0,0,0,0.2); animation: slide-down .2s ease-out;  -webkit-animation: slide-down .2s ease-out; -moz-animation: slide-down .2s ease-out; -o-animation: slide-down .2s ease-out; }

@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-5%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-5%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}

@-o-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-5%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}

@keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-5%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}

nav > ul > li > ul > li { display:block; font-size:18px; }
nav > ul > li > ul > li > a { padding:5px 5px; color:#666666; }
nav > ul > li > ul > li:hover > a { color:#0fa1e0; }
nav > ul > li > ul > li:last-child > a { padding:7px 5px 10px 7px;}
nav > ul > li > ul { color: #0fa1e0; }

nav > ul > li:hover > ul { display:block; }

nav > ul > li > ul.single { width:200px; }

/* FOUR COL */

nav > ul > li > ul.four-sub { width:900px; left:-200%; padding-bottom:15px; }
nav > ul > li > ul.four-sub > li { display:table; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
nav > ul > li > ul.four-sub > li:last-child { padding-bottom:0; }
nav > ul > li > ul.four-sub li { font-size:16px; display:block; }

nav > ul > li > ul.four-sub .four-in { display:table-cell; width:218px; padding:10px 0; }
nav > ul > li > ul.four-sub .four-in:hover { background:rgba(0,0,0,0.015); -webkit-border-radius: 5px; border-radius: 5px; }
/* 
nav > ul > li > ul.four-sub .four-in { padding-bottom:15px; }
nav > ul > li > ul.four-sub .four-in:last-child { padding-bottom:0px; }
*/
nav > ul > li > ul.four-sub .four-in li a { padding:3px; color:#666666; }
.four-in .title a { color:#0fa1e0 !important; font-weight:500; }
nav > ul > li > ul.four-sub .four-in li:hover a { color:#0fa1e0; }

/* TWO COL DESC*/

nav > ul > li > ul.two-sub { width:600px; left:-90%; padding:0px 10px 15px 10px; }
nav > ul > li > ul.two-sub li { float:left; width:273px; min-height:110px; }
nav > ul > li > ul.two-sub li:hover { background:rgba(0,0,0,0.015); -webkit-border-radius: 5px; border-radius: 5px; }
nav > ul > li > ul.two-sub li a { font-size:16px; color:#666666; }
nav > ul > li > ul.two-sub li b { font-size:18px; color:#0fa1e0;  display:block; font-weight:500; line-height:35px; }

.contact-top { display: inline-block; border: none; padding: 0; margin: 0; margin-left: 14px; width: 130px; height: 40px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #0fa1e0; text-align: center; color: #FFF; font-size: 16px; font-weight: 500; text-transform: uppercase; line-height: 45px; }

.header { background: url(../img/header_bg.png) no-repeat center bottom; min-height: 571px; border-bottom: 1px solid #e5e5e5; text-align: center; padding-top:90px;}

.header h1 { font-size: 40px; color: #000000; font-weight: 600; margin: 75px 0 0 0; }

.header p { font-size: 19px; color: #808080; font-weight: normal; line-height: 30px; margin: 5px 0 0 0; }

.call-to-action { padding: 13px 0 70px 0; }

.cta-but { width: 210px; height: 50px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; background: #787a7b; border: none; font-size: 20px; color: #ffffff; text-align: center; margin-left: 6px; line-height: 54px; }

.cta-but:first-child { margin: 0; }

.cta-but.blue { background: #0fa1e0; font-weight: 500; }

.video-sec { position: relative; }

.video-pop { width: 232px; height: 153px; display: block; position: absolute; top: 11px; left: 469px; background: url(../img/vid-thumb.png) 0 0 no-repeat; }

.video-pop:hover { background: url(../img/vid-thumb.png) no-repeat 0 -153px; }

.lightbox { display: none; }

.nav-down {  }
.nav-up { top: -91px; }


/* ==========================================================================
   TWO COLUMNS
   ========================================================================== */



.two-c { border-bottom: 1px solid #e5e5e5; }

.two-cols { width: 584.5px; float: left; padding: 74px 20px 0; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.two-cols:first-child { border-right: 1px solid #e5e5e5; }

.col-img { min-height:241px; }

.two-cols h2 { margin: 0; font-size: 22px; color: #333333; font-weight: 500; margin: 55px 0 21px 0; }

.two-cols p { margin: 0; font-size: 17px; color: #4c4c4c; font-weight: normal; text-align: left; line-height: 24px; padding-bottom: 50px; }

/* ==========================================================================
   FEATURES
   ========================================================================== */



.f1-text { width: 52.478632%; min-width: 614px; float: left; padding: 111px 0 87px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.f1-img { width: 47.521367%; min-width: 556px; padding-top: 76px; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.feature-text { font-size: 36px; color: #333333; font-weight: bold; margin: 0; }

.checklist { font-size: 18px; color: #4c4c4c; font-weight: normal; margin: 0; padding: 0; list-style: none; margin-top: 18px; }

.checklist li { padding: 8px 0 8px 38px; background: url(../img/checks.png) 0 0 no-repeat; background-position: 0 8px; }

.social-icons { margin: 0; padding: 0; list-style: none; margin-top: 40px; }

.tw { background-position: 0 0; }

.fb { background-position: -57px 0; }

.gp { background-position: -114px 0; }

.ig { background-position: -171px 0; }

.em { background-position: -228px 0; }

.mo { background-position: -285px 0; }

.cl { background-position: -342px 0; }

.social-icons .icon { width: 57px; height: 57px; background-image: url(../img/social-icons.png); background-repeat: no-repeat; float: left; margin-right: 22px; }

.social-icons .icon:last-child { margin-right:0; }

/*----------------*/


.f2-text { width: 50%; min-width: 585px; float: left; padding: 111px 0 87px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.feature-para { font-size: 20px; font-weight: normal; color: #4c4c4c; margin: 0; margin-top: 3px; }

.f2-img { width: 50%; min-width: 585px; padding-top: 76px; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.three-feature { margin: 0; padding: 0; list-style: none; margin-top:50px; }
.three-feature li { float:left; width:195px; padding:0 9.5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align:center; font-size:16px; color:#4c4c4c; font-weight:normal; }
.three-feature li:first-child { padding:0; }
.three-feature li b { display:block;  font-size:20px; font-weight:500; color:#4c4c4c; margin:35px 0 14px; }
.three-feature li span { width:58px; height:68px; display:inline-block; font-size:0; background-image:url(../img/freedom-icons.png); background-repeat:no-repeat;}
.three-feature .voice { background-position:0 0; }
.three-feature .web { width:66px; background-position:-59px 0; }
.three-feature .social { width:69px; background-position:-126px 0; }

/* ==========================================================================
   FEATURES GRID
   ========================================================================== */
.feature-grid { border-top: 1px solid #e5e5e5; padding-bottom:60px;  }

.feature-four { margin:0; padding:0; list-style:none; }
.feature-four li { float:left; width:23.076923%; min-width:270px; text-align:center; font-size:16px; color:#666666; font-weight:normal; padding-top:60px; }
.feature-four span { height:100px; display:inline-block; vertical-align:text-top; font-size:0; padding-bottom:36px; }
.feature-four b { display:block; font-size:20px; color:#333333; font-weight:500; padding-bottom:8px; }

/* ==========================================================================
   FEATURED IN
   ========================================================================== */
.featured-in { background:#eff1f0; padding:70px 0 90px 0;}   
.featured-in h2 { text-align:center; margin:0; }
.thin-headline { font-size:50px; color:#333333; font-weight: 300; }

.featured-sites { margin:0; padding:0; list-style:none; padding-top:45px; }
.featured-sites li { width:23.076923%; min-width:275px; height:150px; float:left; margin:0 0 0 1.923077%; background:#FFF; text-align:center; vertical-align:middle; }
.featured-sites li:first-child { margin-left:0; }
.featured-sites .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.featured-sites li a { display:block; height:100%; }
.featured-sites li img { vertical-align:middle; display:inline; }

/* ==========================================================================
   ESTEEMED CUSTOMERS
   ========================================================================== */
.esteem-cutomers { padding:40px 0 20px 0; }
.carousel-main { width:1110px; margin:0 auto; position: relative; max-width: 100%;  }
.customer-title { background:url(../img/line.png) repeat-x; background-position:0 8px; color:#808080; font-size:18px; text-transform:uppercase; }
.customer-title span { display:inline-block; background:#fff; padding:0 25px; }

.verticle-logo { width:165px; height:195px; padding:0 10px; display:table; vertical-align:middle; text-align:center; }
.verticle-logo b { font-weight:normal; display:table-cell; vertical-align:middle; text-align:center; }

.owl-controls  { position:relative; }
.owl-buttons { position:absolute; top:-110px; width:100%; }

.owl-prev { width:30px; height:30px; float:left; position:relative; left:-35px; background:url(../img/arrows.png) no-repeat; background-position:0 0; }
.owl-prev:hover { background:url(../img/arrows.png) no-repeat; background-position:0 -30px; }

.owl-next { width:30px; height:30px; float:right; position:relative; right:-35px; background:url(../img/arrows.png) no-repeat; background-position:-30px 0; }
.owl-next:hover { background:url(../img/arrows.png) no-repeat; background-position:-30px -30px; }

/* ==========================================================================
   CONTACT US
   ========================================================================== */
.contact-us { background:url(../img/contact-bg.png) no-repeat left top #fcfcfc; border-top: 1px solid #e5e5e5; webkit-background-size: cover;
  -moz-background-size: cover;  -o-background-size: cover;  background-size: cover; }

.contact-form { width:510px; padding:66px 38px 66px 0; }

.contact-form h4 { margin:0; padding:0; font-size:35px; color:#333333; font-weight:600; padding-bottom:4px;}
.contact-form p { margin:0; padding:0; color:#666666; font-size:18px; font-weight:normal; padding-bottom:15px; }

.contact-form input, .contact-form textarea { width:100%; height: 50px;	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;	background-color: #fff;	border: solid 1px #cfcfcf; padding:0 16px; margin:5px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size:16px; color:#808080; font-weight:normal; }
.contact-form textarea { padding:16px; min-height:170px; }


.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:16px; color:#808080; font-weight:normal;
}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder { /* Firefox 19+ */
  font-size:16px; color:#808080; font-weight:normal;
}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder { /* IE 10+ */
  font-size:16px; color:#808080; font-weight:normal;
}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder { /* Firefox 18- */
  font-size:16px; color:#808080; font-weight:normal;
}



.contact-form .half { width:calc(50% - 5px); float:left;}
.contact-form .half:last-child { margin-left:10px; }	
.contact-form button { width:100%; height:60px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;  border:none; font-size:20px; font-weight:500; text-transform:uppercase; color:#fefefe; margin:5px 0; line-height:64px; background:url(../img/send-icon.png) no-repeat #0fa1e0; text-indent:32px; padding:0; background-position:146px 19px; }



/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer { border-top: 1px solid #e5e5e5; padding-top:37px; font-size:16px; color:#666666; font-weight:normal;  }
.footer-col { float:left; width:23.076923%; min-width:270px; margin:0 0 0 1.923077%; text-align:center; }
.footer-title { font-size:18px; color:#0fa1e0; font-weight:500; padding-bottom:14px; text-align:left; }
.footer-col ul { margin:0; padding:0; list-style:none; font-size:16px; color:#666666; font-weight:normal; line-height:28px; text-align:left; display:inline-block; }
.footer-col a { color:#666666; text-decoration:none; outline:none; }
.footer-col a:hover { color:#0fa1e0; }
.footer-col a[href*="mailto:"]{ color:#0fa1e0;}
.footer-col a[href*="mailto:"]:hover { text-decoration:underline; }

.footer-col p { margin:0; padding:0; padding-bottom:25px; font-size:16px; color:#666666; font-weight:normal; line-height:24px; text-align:left; }
.footer-col p:last-child { padding:0; }

.footer-copyright { padding:60px 0; }
.footer-social a { margin:0 10px;}
.footer-social a:hover {  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8; }
.developer { color:#666666; text-decoration:none; }
.developer:hover { color:#0fa1e0; } 

/* ==========================================================================
   INNER PAGES
   ========================================================================== */

.inner-pages { padding-top:90px; }
.page-title { background:#0fa1e0; text-align:left; -webkit-box-shadow:inset 5px 5px 5px 0 rgba(0,0,0,0.05); box-shadow:inset 5px 5px 5px 0 rgba(0,0,0,0.05); padding:40px 0 33px;  }
.page-title h1 { padding:0; margin:0; color:#FFF; font-size:35px; font-weight:500;  }
.content { padding:10px 0 50px; color:#666666; font-size:18px; font-weight:normal; line-height:1.6; }
.inner-content { width:95%; margin:0 auto; position:relative; }
.content p { color:#666666; font-size:18px; font-weight:normal; line-height:1.6;  }
.content p b, .content p strong { font-weight:500; color:#555555; }
.content blockquote { border-left:5px solid #0fa1e0; font-size:25px; color:#666666; font-weight:300; line-height:35px; margin-left: 60px; padding: 10px 33px;   text-transform: none; }
.content hr { border-top:1px solid #e5e5e5; }
.content hr.twice { border-top:2px solid #e5e5e5; }
.content p > img { vertical-align:top; }
.content p > img.left { margin-right:30px; margin-bottom:30px; }
.content p > img.right { margin-left:30px; margin-bottom:30px; }

.brand-color { color:#0fa1e0;}

.content .col2 { display:inline-block; width:45.8%; margin-right:4%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; vertical-align:top; }
.content .col2:last-child { margin-right:0; }

.content .col3 { display:inline-block; vertical-align:text-top; width:30.4%; margin-right:4%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.content .col3:last-child { margin-right:0; }

.content h1 { font-size:36px; line-height:44px; font-weight:bold; }
.content h2 { font-size:32px; line-height:36px; font-weight:500; }
.content h3 { font-size:28px; line-height:32px; font-weight:500; }
.content h4 { font-size:24px; line-height:28px; font-weight:500; }
.content h5 { font-size:20px; line-height:24px; font-weight:500; }
.content h6 { font-size:16px; line-height:20px; font-weight:500; }

.content ul > li, .content ol > li { padding:0; margin:2px 0; padding-left:15px; }

.box-content { padding:40px; background:#fafafa; border:1px solid #e5e5e5; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:18px 0; }
.m0 { margin:0; }

.col-70, .col-30 { display:inline-block; vertical-align:top; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.col-70 { width:65%; }
.col-30 { width:34.6%;}
.breadcrumbs { margin:0; padding:0; list-style:none; color:#FFF; float:right; padding-top:8px; font-size:16px; }
.breadcrumbs > li { display:inline-block; vertical-align:top; font-weight:400; padding:0 5px; }
.breadcrumbs > li a { color:#f2f2f2; text-decoration:none; font-weight:400; }
.breadcrumbs > li a:hover { text-decoration:underline; color:#FFF; }
.breadcrumbs li.current a { color:#FFF; font-weight:500; }
/*.bottom-cta { background:#0fa1e0; padding:30px 0; color:#FFF; }
.hold-cta{ display:table; width:100%; }
.cta-line { display:table-cell; vertical-align:middle; font-size:24px; font-weight:500; }
.cta-button { display:table-cell; vertical-align:middle; text-align:right; }
.cta-button button { background:#0c80b2; width:180px; height:55px; font-size:20px; font-weight:500; border:none; color:#FFF; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; line-height:61px;}*/

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1200px) {

.main { max-width:95%; }	
	
/* TWO COLS*/
.two-cols { padding:74px 40px 0; width:50%;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*FEATURES*/
.f1-img { min-width:0; width: 40.521367%; padding-right:5%; }
.f1-text { min-width:0; width: 59.478632%;  padding-top:91px; padding-bottom:0; }

.social-icons { margin-top:30px; }
.social-icons .icon { margin-right:18px; }

.f2-img { width:43%;  min-width:0; padding-left:2.5%; padding-right:2.5%; }
.f2-text { width:57%;  min-width:0; padding-top:91px;  }

/*FEATURES */
.feature-four li { min-width:0; width:24.977%; padding-left:1%; padding-right:1%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.feature-four li br { display:none; }

/*FEATURED IN*/
.featured-in { padding:50px 0 70px; }
.featured-sites li { min-width:0; }
.featured-sites li a { padding:10%;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*CLIENTS*/
.verticle-logo {  }
.owl-controls { display:none !important; }
.owl-prev { left:-16px; }
.owl-next { right:-16px; }

/*FOOTER*/
.footer-col { min-width:0; }
.footer-copyright { padding:40px 0; } 

/*-----INNER PAGE-----*/
.page-title h1 { font-size:30px; }
.breadcrumbs { font-size:15px; }
.col-70 { width:62%;}
.col-30 { width:37%;}
.content { font-size:17px; }
.content p { font-size:17px; }
.content blockquote { font-size:25px; }

}

@media (max-width: 1080px) { 
/*HEADER*/
header { min-height:89px; }
.logo { padding-top:23px; }
.logo img { max-width:80%; }
nav li { font-size:18px; padding:0 11.5px; }
nav li a { padding:36px 0 29px; }

nav > ul > li > ul.four-sub { left: -270%; }
nav > ul > li > ul.two-sub { left: -170%; }

/* TWO COLS*/
.two-cols p { padding-bottom:30px; }

/*FEATURES*/
.f1-img { width: 44.521367%; padding-left:5%; }
.f1-text { width: 54.478632%; padding-top:70px; }
.feature-text { font-size:32px; }
.f2-img { width:47%; min-width:0; padding-left:3%; padding-right:4%; }
.f2-text { width:53%; min-width:0; padding-top:110px; }

.three-feature li { width:170px; }
.three-feature li br { display:none; }

/*FEATURES GRID*/
.feature-four b { font-size:18px; }
.feature-four li { font-size:15px; }

/*CONTACT FORM*/
.contact-us { background:#f7f7f7; }
.contact-form { padding-right:0; float:none; margin:0 auto; text-align:center; }

/*FOOTER*/
.footer-col p, .footer-col ul { font-size:15px; }

/*-----INNER PAGE-----*/
.page-title { padding-bottom:40px; }
.page-title h1 { font-size:30px; }
.breadcrumbs { font-size:16px; float:left; }
.col-70 { width:100%;}
.col-30 { width:100%;}

.content { font-size:17px; }
.content ul, .content ol { padding-left:20px; }
.content p { font-size:17px; margin:14px 0; }
.content p > img.left, .content p > img.right { max-width:50%; }
.content blockquote { font-size:23px; }

.content .col3 { width:30.3%; }

}

@media (max-width: 1023px) { 

/* ============   NAVIGATION Button Custom Styles   ============== */

.btn2 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 15px;
  left: 20px;
  z-index:10000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.btn2 .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 30px;
  top: 27px;
  background-color: #828283;
}
.btn2 .icon:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #828283;
  content: "";
  top: -8px;
}
.btn2 .icon:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #828283;
  content: "";
  top: 8px;
}
.btn2.open .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}
.btn2.open .icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
          transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
}
.btn2.open .icon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -5px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -5px);
}
.btn2:hover {
  cursor: pointer;
}

button { outline:none; }

.sb-slidebar ul.four-in { padding-top:0; }
.sb-slidebar ul.four-in li a { padding-left:13%; }
.sb-slidebar ul.four-in .title a { padding-left:10%; color:#FFF!important; font-weight:600; }
.sb-slidebar ul.two-sub { font-size:15px; }
.sb-slidebar ul.two-sub b { display:block; font-size:16px; }

/* HEADER */
.logo { float:none; margin:0 auto; width:260px; max-width:100%; position:relative; text-align:center; padding-top: 25px; padding-left:0; }	
nav { display:none; }	
.navigation { top:24px; position:absolute; right:20px; }
.contact-top { font-size:0; width:40px; }
.contact-top:after { position:relative; content:""; display:block; background:url(../img/mail-icon.png) no-repeat; top:-34px; left:9px; width:40px; height:40px; }

#intro { width:700px; height:393.903368px; }



/* TWO COLS*/
.col-img { min-height:159px; }
.two-cols h2 { font-size:20px; margin-bottom:12px; }


/* FEATURES */
.f1-img, .f1-text { width:100%; padding-left:0; padding-right:0; float:none; }
.feature-text { text-align:center; font-size: 38px; }
.social-icons { margin:0 auto; display:table; margin-top:30px; margin-bottom:30px; }
.checklist { margin:0 auto; display:table; margin-top:22px; }
.social-icons .icon { margin-right: 35px; }

.f2-img, .f2-text { width:100%; padding-left:0; padding-right:0; float:none; padding-bottom:0; }
.f2-text { padding-top:30px; }
.f2-img { padding:10px 0 70px; }
.feature-para { text-align:center; margin-top:10px; }
.three-feature { margin:50px auto 40px; display:table; }
.three-feature li { width:240px; }

/* FEATURES GRID */
.feature-four { display:block;  }
.feature-four li { width:33.3%; padding-left:2%; padding-right:2%; }

.feature-four + .clearfix { display:none; }

/* FEATURED IN */
.featured-sites { padding-top:30px; }
.featured-sites li { height:100px; }
.featured-in { padding: 50px 0 85px; }

.featherlight .featherlight-close-icon {  width:65px; line-height:65px; font-size:30px; color:#FFF; background:rgba(0,0,0,0.5); }

/* CONTACT FORM */ 
.contact-form { padding-top:40px; padding-bottom:40px; }

/* FOOTER */
.footer-col:first-child { width:100%; background:rgba(0, 0, 0, 0.05);  padding:30px;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left:0; }
.footer-col p { padding-bottom:10px; }
.footer-col { text-align:left; width:31.4%; padding-top:30px; }

.footer-copyright { text-align:center; }
.footer-copyright .left, .footer-copyright .right { float:none; }
.footer-social { padding-top:30px; }

/*-----INNER PAGE-----*/
.col-70, .col-30 { text-align:center; }
.breadcrumbs { float:none; }

.content .col2 { width:45.7%; }
.content blockquote { font-size:20px; margin-left:40px; line-height:30px; }

}

@media (max-width: 767px) {

/* HEADER */
header { min-height: 60px; }
.header { min-height:610px; }
.logo { padding-top:13px; padding-bottom:16px; }
.logo img { max-width: 67%; }
.btn2 { top:1px; }
.navigation { top:9px; }
.mobile-pre { display:block; }
img[usemap="#Map"] { display:none; }

.header h1 { margin-top:20px; font-size:35px; }
.header p { font-size:17px; line-height:27px; }
.call-to-action { padding-bottom:50px; }

iframe.lightbox { display:table; margin:0 auto; }
#intro { width:600px; height:337.631887px; }

/* TWO COLS */
.two-cols { padding:50px 30px 0; }
.col-img { min-height: 137px;}
.two-cols h2 { font-size:17px; margin-top:40px; }
.two-cols p { font-size: 16px; line-height: 24px; }

/* FEATURES */
.f1-img, .f1-text { padding-top:50px; }
.f1-img img { max-width:60%;}
.feature-text { font-size: 32px; }
.checklist { font-size:17px; padding:0 50px; margin-top:15px; }
.social-icons .icon { margin-right:19px; }

.f2-img { padding-bottom:50px; }
.f2-img img { max-width:60%;}
.feature-para { font-size:19px; }
.three-feature li { width: 202px; }

/* FEATURES GRID */
.feature-four li { width:50%; padding-left: 4%;  padding-right: 4%; }

/* FEATURED IN */
.featured-in { padding:40px 0; }
.thin-headline { font-size:40px; }
.featured-sites li { height:150px; width:49%; margin-bottom:2%; }
.featured-sites li:nth-child(3) { margin-left:0; }
.featured-sites { padding-top:20px; }

/* CUSTOMERS */
.esteem-cutomers { padding-top:30px; }
.verticle-logo { width:130px; height:135px; }

/* FOOTER */
.footer { padding-top:25px; }

/*-----INNER PAGE-----*/
.inner-pages { padding-top: 60px; }
.content .col2 { width:100%; margin:0; }
.content .col3 { width:100%; margin:0; }
.content p > img.left, .content p > img.right { float:none; max-width:100%; margin:0; margin-bottom:30px; display:block; }

.content h4 { margin:20px 0;}
.content h5 { margin:20px 0;}
.content h6 { margin:20px 0;}

}

@media (max-width: 639px) {

/* HEADER */
.header { min-height: 500px; }
.header h1 { font-size:30px; }
.header p br { display:none; }
.header h1 { margin-top:14px; }
.call-to-action { padding-bottom: 40px; }

#intro { width:440px; height:247.596717px; }

/* TWO COLS */
.two-cols:first-child { border:none; }
.two-cols { width:100%; padding:50px 50px 0; }

.two-cols h2 { font-size: 22px; }
.two-cols:nth-child(2) { padding-top:20px; }

/* FEATURES */

.feature-text { font-size: 34px; }	
.checklist { font-size: 19px; line-height:28px; }

.social-icons .icon { margin-right: 15px; width:40px; height:40px; background-size:280px 40px; }

.fb { background-position: -40px 0; }

.gp {  background-position: -80px 0; }

.ig { background-position: -120px 0; }

.em { background-position: -160px 0; }

.mo { background-position: -200px 0; }

.cl { background-position: -240px 0; }


.feature-para { font-size:17px; margin-top:5px; }
.three-feature { margin-top:40px; }
.three-feature li { width: 152px; font-size:15px; }

/* FEATURES GRID */
.feature-four b { font-size:16px; }

/* FEATURED IN */
.featured-sites { margin:0 auto; display:table; text-align:center; }
.featured-sites li { width:45%; height:130px; float:none; display:inline-block; margin-bottom:3%; }

/* CONTACT US */
.contact-form { width:90%; }
.contact-form h4 { font-size:29px; }
.contact-form button { background:#0fa1e0; text-indent:0; }

/* FOOTER */
.footer-col { width:31.4%; text-align:center; }
.footer-title { font-size:16px; }
.footer-col ul li { padding-bottom:5px; }

.footer-copyright { font-size:14px; }

/*-----INNER PAGE-----*/

.page-title h1 { font-size:26px; }
.breadcrumbs { font-size:15px; }
.box-content { font-size:16px; padding:20px; }
.content blockquote { margin-left:20px; }

.content h1 { font-size:32px; }
.content h2 { font-size:30px; }
.content h3 { font-size:28px; }
.content h4 { font-size:26px; }
.content h5 { font-size:24px; }
.content h6 { font-size:22px; }

}

@media (max-width: 479px) {
	
/* HEADER */

#intro { width:300px; height:168.815943px; }

.btn2 { width:30px; height: 40px; top: 2px; left:13px;}
.btn2 .icon { height:2px; width:25px; top: 27px; }	
.btn2 .icon:before { width: 25px; height: 2px; top: -7px; }
.btn2 .icon:after { width: 25px; height: 2px; top: 7px; }
.btn2.open .icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
          transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
}
.btn2.open .icon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(4px, -4px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(4px, -4px);
}

.logo { padding-top:15px; }
.logo img { max-width: 80%; }
.navigation { right:5px; }
.logo { max-width:67%; }

.header { padding-top:70px; min-height: 530px; }
.header h1 { font-size: 35px; }
.cta-but { width:90%; }
.cta-but:last-child { margin-left:0; margin-top:10px; }
.call-to-action { padding-bottom: 20px; }

/* TWO COLS */
.two-cols { padding:20px 20px 0; }
.two-cols:first-child { padding-top:40px; }

.two-cols:nth-child(2) { padding-top: 10px; }
.two-cols h2 { font-size: 19px; }

/* FEATURES */

.feature-text { font-size: 24px; font-weight:500; }
.checklist {  font-size: 17px; line-height: 23px; padding:0 20px; }
.checklist li { background-position:0 10px; }

.social-icons { margin:20px auto; }

.social-icons .icon { margin-right: 10px; width:30px; height:30px; background-size:210px 30px; }

.fb { background-position: -30px 0; }

.gp {  background-position: -60px 0; }

.ig { background-position: -90px 0; }

.em { background-position: -120px 0; }

.mo { background-position: -150px 0; }

.cl { background-position: -180px 0; }

.feature-para { line-height:25px; }
.three-feature { margin-top:30px; text-align:center; }
.three-feature li { float:none; display:inline-block; width:90%; padding-top:50px; font-size:18px; }
.three-feature li b { margin-top:10px; }

/* FEATURES GRID */
.feature-four { text-align:center; }
.feature-four li { width:90%; display:inline-block; float:none; font-size: 17px; }
.feature-four b { font-size: 20px; }

/* FEATURED IN */
.featured-sites li { width:90%; height:170px; margin:0; margin-bottom:5%; }

/* CONTACT US */
.contact-form { padding-top:30px; padding-bottom:30px; }
.contact-form h4 { font-size: 19px; }
.contact-form p { font-size:16px; }

/* FOOTER */
.footer-col { width:100%; margin-left:0; text-align:center; }
.footer-col ul, .footer-title { text-align:center; }
.footer-title { font-size: 18px; }
.footer-col ul { font-size:17px; }
.footer-col p { font-size:17px; line-height:26px; padding-bottom:15px; }

/*-----INNER PAGE-----*/
.breadcrumbs, .col-30 { display:none; }

.content blockquote { margin-left:10px; padding:10px 20px; }

.content h1 { font-size:26px; }
.content h2 { font-size:24px; }
.content h3 { font-size:22px; }
.content h4 { font-size:20px; }
.content h5 { font-size:18px; }
.content h6 { font-size:16px; }


}

@media only screen and (min-width: 35em) {
}
 @media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {

*, *:before, *:after { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }

a, a:visited { text-decoration: underline; }

a[href]:after { content: " (" attr(href) ")"; }

abbr[title]:after { content: " (" attr(title) ")"; }

a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }

pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

thead { display: table-header-group; }

tr, img { page-break-inside: avoid; }

img { max-width: 100% !important; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3 { page-break-after: avoid; }
}
