@charset "utf-8";
/* CSS Document */

@media (max-width: 1091px) {
.sidebar { width:30%; }  
}


@media (max-width: 1023px) {
.sidebar { width:38%; }  
}

@media (max-width: 767px) {
.sidebar { width:90%; top: 350px; right:0; left:5%; padding-bottom:15px; }  

.logo { padding: 0 0 10px 15px; }

.filter-sidebar { -webkit-box-shadow: none; box-shadow:none; top: -277px; background:#48b3d6; border:none; }
.filter-sidebar .ddmain { color:#ffffff; }
.filter-sidebar .ddmain:after { border-color: #FFFFFF transparent; }
.filter-icons a { color:#FFFFFF; }

.filter-sidebar div.dropdown { width: 86%; }

.report { -webkit-box-shadow: none; box-shadow:none; }

.trips { height:300px; }

.map-set { top:145px; }
#map { height:260px; width:90%; left:5%; }

.grid { padding:10px 0; }
.header { padding:0; -webkit-box-shadow: none; box-shadow:none; border-bottom:1px solid #ccc; }

.trip-date { width: 13%; }
.idle-time { right:20px; }
.trip-ab { height: 50px; left: 77px; top: 19px; }

.filter-pop::before { right: 54px; top: -20px; border-left: 10px solid transparent; border-bottom: 10px solid #cccccc; border-right: 10px solid transparent; }
.filter-pop { left:auto; right:0; top:60px;  }

}

@media (max-width: 639px) { 
.filter-sidebar div.dropdown { width: 81%; }
.trip-date { width: 16%; }
.trip-ab { left: 75px; top: 18px; }

.logo { padding: 0 0 5px 15px; }

nav .btn-white { display:none; }

nav > .mob { display:block; position:relative; background:url(../images/nav.svg) no-repeat; background-size:20px 20px; height:20px; width:20px; position:absolute; right:30px; top:12px; cursor:pointer; text-indent:-9999px; }
nav > .mob.toggle-nav { background:url(../images/close.svg) no-repeat; background-size:20px 20px; }
nav > .push-right { display:none; background:#FFFFFF; position:absolute; right:0px; top:59px; width:100%; border:1px solid #cccccc;  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2); box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2); }
nav > .push-right.appear {  display:block; opacity:1; }

nav > .push-right a { width:100%; padding:5px 20px; line-height:30px; border-top:1px solid #cccccc; }
nav > .push-right a:first-child { border-top:none; }
nav > .push-right a:hover { background:#f2f2f2; }
}

@media (max-width: 479px) { 
.filter-sidebar div.dropdown { width: 71%; }
.trip-date { width: 20%; }
.trip-ab { left: 72px; }
}