@charset "utf-8";
/* CSS Document */

/*---------------------------------------
                RANGE SLIDER                
-----------------------------------------*/

.noUi-target, .noUi-target * { -webkit-touch-callout:none; -webkit-user-select:none; -ms-touch-action:none; -ms-user-select:none; -moz-user-select:none; -moz-box-sizing:border-box; box-sizing:border-box }
.noUi-target { position:relative }
.noUi-base { width:100%; height:100%; position:relative }
.noUi-origin { position:absolute; right:0; top:0; left:0; bottom:0; background:#48B3D6; }
.noUi-handle { position:relative; z-index:1 }
.noUi-stacking .noUi-handle { z-index:10 }
.noUi-state-tap .noUi-origin { -webkit-transition:left .3s, top .3s;
transition:left .3s, top .3s;
}
.noUi-state-drag * { cursor:inherit!important }
.noUi-base { -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0) }
.noUi-horizontal { height:4px; }
.noUi-horizontal .noUi-handle { width:16px; height:16px; left:-8px; top:-6px }
.noUi-vertical { width:18px }
.noUi-vertical .noUi-handle { width:28px; height:34px; left:-6px; top:-17px }
.noUi-background { background:#f6f6f6; cursor:pointer; }
.noUi-connect { -webkit-transition:background 450ms; transition:background 450ms; background:#48B3D6; }
.noUi-target { border-radius:4px; margin-left: 2.5%; margin-right: 2.5%; width: 95%; }
.noUi-target.noUi-connect {  }
.noUi-dragable { cursor:w-resize; }
.noUi-vertical .noUi-dragable { cursor:n-resize }
.noUi-handle { background:#48B3D6; border-radius:9999px; cursor:default; /*box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; border:1px solid #D9D9D9; */ cursor:pointer; }

.noUi-active { /*box-shadow:inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB; */}

[disabled] .noUi-connect, [disabled].noUi-connect { background:#B8B8B8 }
[disabled] .noUi-handle { cursor:not-allowed }
.noUi-pips, .noUi-pips * { -moz-box-sizing:border-box; box-sizing:border-box }
.noUi-pips { position:absolute; font:400 12px Arial; color:#999 }
.noUi-value { width:40px; position:absolute; text-align:center }
.noUi-value-sub { color:#ccc; font-size:10px }
.noUi-marker { position:absolute; background:#CCC }
.noUi-marker-large, .noUi-marker-sub { background:#AAA }
.noUi-pips-horizontal { padding:10px 0; height:50px; top:100%; left:0; width:100% }
.noUi-value-horizontal { margin-left:-20px; padding-top:20px }
.noUi-value-horizontal.noUi-value-sub { padding-top:15px }
.noUi-marker-horizontal.noUi-marker { margin-left:-1px; width:2px; height:5px }
.noUi-marker-horizontal.noUi-marker-sub { height:10px }
.noUi-marker-horizontal.noUi-marker-large { height:15px }
.noUi-pips-vertical { padding:0 10px; height:100%; top:0; left:100% }
.noUi-value-vertical { width:15px; margin-left:20px; margin-top:-5px }
.noUi-marker-vertical.noUi-marker { width:5px; height:2px; margin-top:-1px }
.noUi-marker-vertical.noUi-marker-sub { width:10px }
.noUi-marker-vertical.noUi-marker-large { width:15px }

.noUi-handle .tooltip { visibility:hidden; zoom:1; filter:alpha(opacity=0); opacity:0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px);
-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px);
-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px);
-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px);
transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px); }

.noUi-handle:hover .tooltip, .noUi-handle:focus .tooltip { visibility:visible; zoom:1;	filter:alpha(opacity=100); opacity:1;
-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px);
transform: scale(1) rotate(0deg) translateX(0px) translateY(0px); }

.tooltip { display: block; position: absolute; background: #8ec841; border-radius: 3px; top: -36px; padding: 5px; left: -9px; text-align: center; line-height:15px; color:#FFFFFF; width:36px; }

.tooltip:after { position:absolute; content:""; width:0; height:0; border-left:5px solid transparent; border-right:5px solid transparent; border-top:6px solid #8ec841; bottom: -5px; right:50%; margin-right:-4px; }

.value-adjustment { margin-top:10px; color:#444444; font-family:'Roboto', sans-serif; font-weight:500; }
